<%= form_for @task, remote: true do |f| %>
      <div class="form-group">
        <h4><span class="siteform">Task Description:</span>
          <% f.label :name %>
          <%= f.text_field :name %>
        </h4>
      </div>
      <%= f.submit(:class => "btn btn-primary") %>
<% end %>
